body {
	font-family: Tahoma, Geneva, sans-serif !important;
	background-color: #fafafa;
	margin: 4px;
}
.parent-div {
	padding: 5px;
	width: 280px;
	height: 100%;
}
.form-control {
	display: block;
	width: 100%;
	height: 20px;
	font-family: inherit;
	padding: 4px 6px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-webkit-input-placeholder {
	color: #999;
}
.btn {
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.btn:active {
	position:relative;
	top:1px;
}
.min-height-100px{
	min-height: 50px;
}
.max-height-100px{
	max-height: 100px;
}
.overflow-x-hidden {
	overflow-x: hidden;	
}
.overflow-y-hidden {
	overflow-y: hidden;	
}
.left {

}
.right {
	float: right;
}
.left {
	float: left;
}
.block {
	display: block;
}
.margin-top-5 {
	margin-top: 5px;
}
.width-95p{
	width: 95%;
}
.full-width {
	width: 100%;
}
.width-15 {
	width: 15%;
}
.width-25 {
	width: 25%;
}
.width-50 {
	width: 50%;
}
.width-60 {
	width: 60%;
}
.bold-text {
	font-weight: bold;
}
.padding-tb-5 {
	padding: 5px 0;
}
.left {
	float: left;
}
.right {
	float: right;
}
.btn-hover:hover{
	cursor: pointer;
}
.border-bottom-1px {
	border-bottom: 1px solid #aaa;
}
.border-right-1px {
	border-right: 1px solid #aaa;
}


.table{
	display: table;
}
.table-title{
	display: table-caption;
	text-align: center;
	font-weight: bold;
}
.table-heading{
	display: table-row;
	font-weight: bold;
	text-align: center;
}
.table-row{
	display: table-row;
}
.table-cell {
	display: table-cell;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #bbb;
	padding-left: 2px;
	padding-right: 2px;
	vertical-align: middle;
}
.valign-middle {
	vertical-align: middle;
}

.no-right-border {
	border-right: none;
}
.descriptionArea {
	min-height: 50px;
	max-height: 100px;
	width: 100%;
	padding: 0;
}
.label {
	font-weight: bold;
}
.successMsg {
	font-size: 11px;
	color: #17A108 !important;
}
.warningMsg {
	font-size: 11px;
	color: #B5A907;
}
.errorMsg {
	font-size: 11px;
	color: #B20005;
}
.disabledBtn {
	background: #aaa;
}
.disabledBtn:hover {
	background: #aaa;
}

